<div>
    <form action="/notes/add" method="POST">
    <textarea name="title" value="title"></textarea>
    <br>
    <textarea name="body" value="body"></textarea>
    <br>
    <input type="submit" value="Save">
    </form>
</div>